
<mat-dialog-content class="fixed-modal">
  <ejs-pdfviewer 
  id="pdfViewer" 
  #pdfviewer 
  (documentLoad)='loaded()' 
  [enableFormFieldsValidation]=true
  [toolbarSettings]="toolbarSettings"
  [resourceUrl]='resource' 
  
  style="height:640px;display:block">
</ejs-pdfviewer>
<div class="d-flex">
  <div class="p-3">
    <button class="btn btn-primary" (click)="saveFieldsAndLock()">
      Save
    </button>
  </div>
  <div class="p-3">
    <button class="btn btn-secondary" (click)="validateFormFields()">
      Submit
    </button>
  </div>
</div>
</mat-dialog-content>
